<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Directed by Women</title>
  <!-- Add the stylesheet reference -->
  <link rel="stylesheet" href="/style.css">
  <script>
    // Function to submit the form on dropdown change
    function submitForm() {
      document.getElementById('filter-form').submit();
    }

    // Event listeners for the dropdowns
    window.onload = function() {
      const timeSelect = document.getElementById('time');
      const genderSelect = document.getElementById('gender');
      const marketSelect = document.getElementById('market');

      timeSelect.addEventListener('change', submitForm);
      genderSelect.addEventListener('change', submitForm);
      marketSelect.addEventListener('change', submitForm);
    }
  </script>
</head>
<body>

  <div class="header">
    <div>
  <h1>Directed by Women</h1>
  <h2 class="subtitle">Top List of Actresses and Actors in Films by Female Directors</h2>
</div>
  <form id="filter-form">
    <div>
    <label for="time">Time:</label>
    <select id="time" name="time">
      <option value="5" <%= time === '5' ? 'selected' : '' %>>Last 5 years</option>
      <option value="10" <%= time === '10' ? 'selected' : '' %>>Last 10 years</option>
      <option value="20" <%= time === '20' ? 'selected' : '' %>>Last 20 years</option>
      <option value="all" <%= time === 'all' ? 'selected' : '' %>>All time</option>
    </select>
  </div>
<div>
    <label for="gender">Gender:</label>
    <select id="gender" name="gender">
      <option value="all" <%= gender === 'all' ? 'selected' : '' %>>All</option>
      <option value="2" <%= gender === '2' ? 'selected' : '' %>>Actors</option>
      <option value="1" <%= gender === '1' ? 'selected' : '' %>>Actresses</option>
    </select>
</div>
<!-- <div>
    <label for="market">Market:</label>
     <select id="market" name="market">
      <option value="world" <%= market === 'world' ? 'selected' : '' %>>World</option>
      <option value="us" <%= market === 'us' ? 'selected' : '' %>>US</option>
      <option value="europe" <%= market === 'europe' ? 'selected' : '' %>>Europe</option>
    </select>
</div> -->
  </form>
  </div>
<!-- Actors list -->

  <div class="actors-list">
    <% actors.forEach(actor => { %>

     <div class="actor">
  <div class="actor-background" style="background-image: url('https://image.tmdb.org/t/p/w300<%= actor.file_path %>');width: calc(135px + <%= Math.max(actor.count * (time === 'all' ? 10 : time === '20' ? 12 : time === '10' ? 15 : 20), 50) %>px);height: calc(135px + <%= Math.max(actor.count * (time === 'all' ? 10 : time === '20' ? 12 : time === '10' ? 15 : 20), 50) %>px);">
  
    <p class="count"style="font-size: calc(5em + <%= actor.count / (time === 'all' ? 2 : time === '20' ? 1.5 : time === '10' ? 1.2 : 1) %>em);"><%= actor.count %></p>
    <h3><%= actor.name %></h3>

    <div class="overlay">
      <ul class="movie-list">
        <% actor.list.forEach(movie => { %>
          <li><%= movie %></li>
        <% }) %>
      </ul>
    </div>

  </div>
</div>

    <% }) %>
  </div>


<footer>
    <a href="about.html">About this page</a> | 
    &copy; 2024  |
    Powered by : <a href="https://www.themoviedb.org/"><img src="/blue_short-tmdb.svg" alt="TMDB Logo" style="width: 150px;"></a>
  </footer>

</body>
</html>
