<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Statistics</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div><a href="/">Directed by Women</a></div>
  <h1>Statistics</h1>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Total Entries</th>
        <th>Entries Updated in Last Week</th>
      </tr>
    </thead>
    <tbody>
      <% stats.forEach(stat => { %>
        <tr>
          <td><%= stat.name %></td>
          <td><%= stat.total %></td>
          <td><%= stat.updated %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Performer count</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Total</td>
          <td><%= stats[0].total %></td>
        </tr>
        <tr>
          <td>No revenue</td>
          <td><%= stats[0].noRevenue %></td>
        </tr>
        <tr>
          <td>No top5billing</td>
          <td><%= stats[0].noTop5Billing %></td>
        </tr>
        <tr>
          <td>No birthday</td>
          <td><%= stats[0].noBirthday %></td>
        </tr>
        <tr>
          <td>No topLanguage</td>
          <td><%= stats[0].noLanguage %></td>
        </tr>
        <tr>
          <td>Female</td>
          <td><%= stats[0].female %></td>
        </tr>
        <tr>
          <td>Male</td>
          <td><%= stats[0].male %></td>
        </tr>
        <tr>
          <td>Non-Binary</td>
          <td><%= stats[0].nonbinary %></td>
        </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Movie count</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Total</td>
          <td><%= stats[1].total %></td>
        </tr>
        <tr>
          <td>No revenue</td>
          <td><%= stats[1].noRevenue %></td>
        </tr>
        <tr>
          <td>Zero revenue</td>
          <td><%= stats[1].zeroRevenue %></td>
        </tr>
        <tr>
          <td>No language</td>
          <td><%= stats[1].noLanguage %></td>
        </tr>
    </tbody>
  </table>


  <table>
    <thead>
      <tr>
        <th></th>
        <th>Director count</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Total</td>
          <td><%= stats[2].total %></td>
        </tr>
        <tr>
          <td>Female</td>
          <td><%= stats[2].female %></td>
        </tr>
        <tr>
          <td>Male</td>
          <td><%= stats[2].male %></td>
        </tr>
        <tr>
          <td>Non-Binary</td>
          <td><%= stats[2].nonbinary %></td>
        </tr>
        <tr>
          <td>Zero</td>
          <td><%= stats[2].zero %></td>
        </tr>
    </tbody>
  </table>

</body>
</html>
